<!DOCTYPE html>
<html>
<body>
    
    <head>
        <link rel="stylesheet" href="index.css">
    </head>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

    <script>
        var app = angular.module("myShoppingList", []); 
        app.controller("myCtrl", function($scope) 
        {
            $scope.products = ["Milk", "Bread", "Cheese"];
            
             
            $scope.addItem = function () 
            {
                $scope.errortext = "";
                if (!$scope.addMe) {return;}
                    if ($scope.products.indexOf($scope.addMe) == -1) 
                    {
                        $scope.products.push($scope.addMe);
                    } 
                    else 
                    {
                        $scope.errortext = "The item is already in your shopping list.";
                    }
            }


            $scope.removeItem = function (product) 
            {
                $scope.errortext = "";
                $scope.products.splice(product, 1);
            }
            
        });
    </script>
    
    
    
    <div ng-app="myShoppingList" ng-controller="myCtrl" class = "card">
        <header class = "header">
            <h2> My Shopping List </h2>
        </header>
        
        <ul>
            <li ng-repeat="product in products">{{ product }}
                <span ng-click="removeItem($index)">&times;</span>
            </li>
        </ul>
        
        <div class = "header">
            <input ng-model="addMe" placeholder = "Shopping List Item Name" type = "text" ng-hide="hidden" clear-input>
            <button ng-click="addItem()">Add</button>
        </div>
        

        <p id = "errortext">{{ errortext }}</p>
    </div>

    
</body>
</html>